body{background-color: #f5f5f5;}
.font_sm{font-size: 0.8rem;}
.iframe_header,.iframe_footer{width: 100%;border: 0;}
@media (min-width:576px) {
	.iframe_header{height: 13rem;}
	.iframe_footer{height: 39rem;}
}
@media (min-width:992px) {
	.iframe_header{height: 6.5rem;}
	.iframe_footer{height: 26rem;}
}
.bg_gray{
	background: linear-gradient(to bottom, #f5f4f5 0%,#e6e6e5 100%);
}
